div { 
    border: 1px solid black;
      width: 100%;
        height: 115px; 
} 

 #first {
Background-color: green
} 
#second {
Background-color: blue
} 
#third {Background-color: magenta 
}
#fourth {Background-color: red
}
#fifth {Background-color: orange
}
#sixth {Background-color:yellow
}

